{
  "presets": [
    [
      "env",
      {
        "targets": {
          "chrome": 52,
          "safari": 11,
          "firefox": 59,
          "edge": 14
        },
        "modules": "commonjs",
        "loose": false
      }
    ],
    "react",
    "stage-0"
  ]
}
