.protractor-360 {
  width: 100%;
  height: 100%;
  font-size: 93.95%;
  line-height: 1.5;
}
.protractor-360 .white-mask {
  stroke: none;
  fill: #ffffff;
}
.protractor-360 .controller-mask-layer {
  mask: url(#movement-control-mask);
}
.protractor-360 .circle-1 {
  fill: #dfdfdf;
  fill-opacity: 0.3;
  stroke: #000000;
  stroke-width: 2;
}
.protractor-360 .circle-2 {
  fill: none;
  stroke: #808080;
}
.protractor-360 .segment-group {
  transform: rotate(90deg);
  transform-origin: 300px 300px;
}
.protractor-360 #line-1 {
  fill: none;
  stroke-width: 0.5;
  stroke: #000000;
}
.protractor-360 .primary-line,
.protractor-360 .secondary-line,
.protractor-360 .tertiary-line {
  shape-rendering: geometricPrecision;
  stroke-dashoffset: 0;
}
.protractor-360 .primary-line {
  stroke-dasharray: 0, 12, 178, 40, 26, 44;
}
.protractor-360 .secondary-line {
  stroke-dasharray: 0, 96, 94, 40, 26, 44;
}
.protractor-360 .tertiary-line {
  stroke-dasharray: 0, 243, 13, 44;
}
.protractor-360 textPath {
  text-anchor: start;
  text-align: start;
}
.protractor-360 .clockwise-text {
  transform: translate(85px, 85px);
}
.protractor-360 .anti-clockwise-text {
  transform: translate(107px, 107px);
}
.protractor-360 .anti-clockwise-text text {
  fill: #0000ff;
}
.protractor-360 .green-line, .protractor-360 .red-line {
  shape-rendering: geometricPrecision;
  stroke-dashoffset: 0;
  stroke-dasharray: 215, 170, 215;
}
.protractor-360 .green-line {
  stroke: #008000;
}
.protractor-360 .red-line {
  stroke: #ff0000;
}
.protractor-360 .movement-controls {
  transform: translate(185px, 185px);
}
.protractor-360 .x-y-control,
.protractor-360 .rotation-control,
.protractor-360 .reset-button-path {
  fill: #000000;
  fill-opacity: 0.3;
  stroke: #ffffff;
  stroke-width: 2;
  transition: 200ms;
  transition-timing-function: ease-in-out;
}
.protractor-360 .rotation-hit-zone,
.protractor-360 .x-y-hit-zone {
  fill: #ffffff;
  fill-opacity: 0;
  stroke: none;
}
.protractor-360 .rotation-hit-zone {
  cursor: grab;
}
.protractor-360 .x-y-hit-zone {
  cursor: move;
}
.protractor-360 .reset-button {
  display: block;
}
.protractor-360 .reset-button:active .reset-button-path {
  fill: #0000ff;
  fill-opacity: 0.8;
}
.protractor-360 .reset-button .reset-button-path {
  cursor: pointer;
}
.protractor-360 .reset-button text {
  fill: #ffffff;
  stroke: none;
  font-size: 25px;
  cursor: pointer;
}
.protractor-360.is-idle .rotation-control,
.protractor-360.is-idle .x-y-control,
.protractor-360.is-idle .reset-button-path {
  animation: pulse 2s infinite;
}
.protractor-360.is-rotating .rotation-control, .protractor-360.is-dragging .x-y-control {
  fill-opacity: 0.8;
}
.protractor-360.is-rotating .rotation-control {
  fill: #21732b;
}
.protractor-360.is-dragging .x-y-control {
  fill: #732121;
}
@-webkit-keyframes pulse {
  0% {
    opacity: .5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: .5;
  }
}
